.woodSofa{
    display: flex;
    justify-content: center;
    padding: 80px 100px;
    background-color: rgb(236,253,255);
    .woodH1{
        font-size: 50px;
        font-weight: bold;
        text-align: left;
    }
    img{
        width: 600px;
    }
    p{
        width: 350px;
        opacity: 0.8;
        text-align: left;
    }
    button{
        margin: 50px;
        color: white;
        border: none;
        background-color: rgb(255,30,76);
        padding: 20px 40px;
        border-radius: 10px;

    }
}
.number{
    margin-top: 50px;
    font-weight: bold;
    font-size: 100px;
    color: rgb(205,232,235);
}
.aweSomeH1{
    padding: 20px 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
.winterCollection {
    background-color: rgb(200, 235, 255);
    display: flex;
    justify-content: center;
    padding: 0px 200px;
    align-items: center;
    gap: 100px;
    margin: 0;
    width: auto;
    img{
        width: auto
    }
}

.winterCollectionDiv {
    margin: 0;

    p {
        color: rgb(37, 119, 253);
        font-style: oblique;
        font-size: 45px;
        margin: 0
    }

    ;

    h1 {
        margin: 0;
        text-align: left;
        font-size: 95px;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    button {
        margin-top: 50px;
        font-size: 25px;
        border-radius: 20px;
        border: none;
        color: white;
        padding: 10px 15px;
        background-color: rgb(37, 119, 253);
        transition: rgb(37, 119, 253) 0.4s rgb(15, 47, 97);

    }
}

.ShopImages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

}

.catOne {
    background-image: url(../../assets/images/cat1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;
    border-radius: 5px;

    h1 {
        margin-left: 250px;
        font-size: 50px;
        margin-bottom: 0;
    }

    button {
        margin-top: 20px;
        margin-left: 300px;
        background-color: rgb(255, 206, 37);
        border-radius: 20px;
        border: none;
        font-size: 18px;
        padding: 10px 25px;
    }

}

.catTwo {
    background-image: url(../../assets/images/cat2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;
    border-radius: 5px;

    h1 {
        text-align: center;
        margin-top: 100px;
        margin-left: 300px;
        font-size: 50px;
        margin-bottom: 0;
    }

    p {
        text-align: center;

        margin-left: 300px;
        font-size: 25px;
        margin-bottom: 0;
    }

}

.catThree {
    background-image: url(../../assets/images/cat3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;
    border-radius: 5px;

    h1 {
        margin-left: 300px;
        font-size: 50px;
        margin-bottom: 0;
    }

    button {
        margin-left: 300px;
        background-color: rgb(255, 206, 37);
        border-radius: 20px;
        border: none;
        font-size: 18px;
        padding: 10px 25px;
    }
}

.shoppingSection {
    h1 {
        padding-top: 100px;
        padding-bottom: 50px;
        font-size: 50px;
    }
}

.datas {
    padding: 50px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.imgProduct {
    height: 400px;
    width: 350px;
    border-radius: 10px;
}

.yellow {
    color: orange;
}

.gray {
    color: gray;
}

.latestOffers {
    background-image: url(../../assets/images/background.png.webp);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

    h1 {
        font-size: 50px;
        margin-right: 50px;
    }

    p {
       
        margin-top: 15px;
        font-size: 25px;
    }

    input {
        border: none;
        border-radius: 25px;
        padding: 20px 60px;
        margin-right: 0;

    }

    input::placeholder {
        font-size: 16px;
    }

    button {
   
        font-size: 25px;
        border-radius: 20px;
        border: none;
        color: white;
        padding: 10px 15px;
        background-color: rgb(37, 119, 253);
        transition: rgb(37, 119, 253) 0.4s rgb(15, 47, 97);
        -webkit-transition: rgb(37, 119, 253) 0.4s rgb(15, 47, 97);
        -moz-transition: rgb(37, 119, 253) 0.4s rgb(15, 47, 97);
        -ms-transition: rgb(37, 119, 253) 0.4s rgb(15, 47, 97);
        -o-transition: rgb(37, 119, 253) 0.4s rgb(15, 47, 97);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
}


.latestProduct{
    h1{
        font-size: 50px;
        margin: 50px auto;
        text-align: center;
    }
}
.productBody{
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    button{
        color: white;
        background-color: rgb(37, 119, 253);
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-size: 25px;
}
}

.btn{
    font-size: 25px;
    margin-right: 50px;
        border-radius: 20px;
        border: none;
        color: white;
        padding: 10px 15px;
        background-color: rgb(37, 119, 253);
        transition: rgb(37, 119, 253) 0.4s rgb(15, 47, 97);
        -webkit-transition: rgb(37, 119, 253) 0.4s rgb(15, 47, 97);
        -moz-transition: rgb(37, 119, 253) 0.4s rgb(15, 47, 97);
        -ms-transition: rgb(37, 119, 253) 0.4s rgb(15, 47, 97);
        -o-transition: rgb(37, 119, 253) 0.4s rgb(15, 47, 97);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}










@media (max-width: 1370px) {
    .winterCollection{

h1{
    font-size: 65px;
}
img{
    width: 350px;
    height: auto;
}


    }
    .latestOffers{
        h1{
            font-size: 25px;
        }
    }
    img{
        width: 300px;
    }
    .btn{
        font-size: 16px;
    margin-right: 0;
    }

}


@media (max-width:992px){
    .winterCollection{

        h1{
            font-size: 50px;
        }
        p{
            font-size: 25px;
        }
        img{
          display: none;
        }
        button{
            font-size: 18px;
            margin-bottom: 20px;
        }
        
        
            }
            .latestOffers{
                h1{
                    font-size: 25px;
                }
            }
            img{
                width: 300px;
            }
            .btn{
                font-size: 16px;
            margin-right: 0;
            }
            .man{
                display: none;
            }
        
}
.ShopH2{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    opacity: 0.7;
}
.aweSome{
    text-align: left;
 padding: 20px 100px;
}
.subscribe {
    background-image: url(../../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 350px;
    h3{
        font-size: 30px;
        color: red;
    }
    h1{
        display: flex;
        justify-content: center;
        font-size: 75px;
        font-weight: bold;
        text-align: center;
    }
    input{
        padding: 20px 40px;
        border-radius: 8px;
    }
    button{
        border-radius: 8px;
        color: white;
        background-color:  rgb(255,30,76);
        padding: 20px 40px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}
}