*{
    font-family: "Poppins";
    text-decoration: none;
}
.active{
    color: blue;
}

header {
    background-color: rgb(236,253,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    ul{
        gap: 50px;
        display: flex;
        li{
            color: black;
            list-style: none;
            display: flex;
        }
    }
}